<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vollkornsaskia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About Christoph Coijanovic">
    <meta name="author" content="Christoph Coijanovic">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <h1>Vollkornsaskia</h1>
        <p class="blog-description">Gesunde Rezepte für Sauerteigbrot und Weiteres</p>
    </header>
    <div class="container">
        <center>
        </center>
        <h2>Lorem Ipsum</h2>
        <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Nulla felis dui, lobortis et dignissim et, semper eu nibh.
             Fusce consectetur interdum arcu quis dapibus. 
             Donec hendrerit enim arcu, sit amet elementum risus condimentum ac.
             Nam mattis erat ac purus sagittis pretium. 
             Sed velit orci, mollis at purus in, sodales interdum ligula.
        </p>
        <p>
             Sed nisi lorem, cursus a nisl a, pulvinar tempus massa. 
             Vivamus pretium condimentum risus ultrices sollicitudin.
             Aliquam erat volutpat.
             Aenean nibh felis, accumsan at nisi ac, interdum facilisis nunc.
             Nulla faucibus sem non erat vehicula, sit amet bibendum justo semper.
             Phasellus ut aliquam ex. 
             Donec faucibus ultricies ultricies.
             Nullam suscipit nibh in odio blandit vehicula. 
             Aenean orci mi, facilisis in mauris egestas, interdum ultricies purus.
        </p>
    </div> 
    <footer>
        <a href="impressum.html">Impressum</a>
    </footer>
</body>
</html>

