body {
    padding: 15px;
    font-family: Sans-Serif;
}
header {
    text-align: center;
}
footer {
    text-align: center;
}
a:link {
    color: #000000;
}
a:visited {
    color: gray;
}
a:hover {
    color: #d08770;
}
.container {
    margin: 0 auto;
}
table td {
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
}
@media only screen and (min-width: 1920px) {
    .container {
        width: 40%;
    }
}

