body {
    padding: 15px;
    font-family: Sans-Serif;
    line-height: 1.4;
}
header {
    text-align: center;
    margin-bottom: 1.5cm;
}
footer {
    text-align: center;
    margin-top: 2cm;
}
.navlist {
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:center;
}

.navelem {
	text-align: center;
	display: inline;
	margin-left: 2%;
	margin-right: 2%;
	color: #262927;
}
a:link {
    color: #000000;
}
a:visited {
    color: gray;
}
.container {
    margin: 0 auto;
    text-align: justify;
}
h1, h2, h3, h4 {
	font-family: serif;
    font-weight: 100;
}
h1 {
    font-size: 500%;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 0px;
}
h2 {
    font-size: 250%;
    text-align: center;
}
.tagline {
    font-style: italic;
    color: gray;
}
.postdate {
    color: gray;
    font-size: small;
    text-align: center;
}
.logo {
    text-decoration: none;
}
.postpreview {
    margin-bottom: 75px;
}
img {
    max-width: 100%;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
}
@media only screen and (min-width: 1920px) {
    .container {
        width: 40%;
    }
}

